__pycache__
.ipynb_checkpoints/
*.egg-info
.vscode
.gradio
.claude

/outputs
/models/NeoVerse
/wandb
/checkpoints
/venv/*
!venv/lib/python3.10/site-packages/chumpy/*

*.pt
*.mp4
*.log
checkpoints/
P0001_*/
hand_data/
